<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
				  
<configuration>
		<typeAliases>
		<typeAlias type="com.yw.home.BankMembers.BankMembersDTO" alias="BankMembersDTO"/>
		<typeAlias type="com.yw.home.bankaccount.BankAccountDTO" alias="BankAccountDTO"/>
		<typeAlias type="com.yw.home.bankbook.BankBookDTO" alias="BankBookDTO"/>
		<typeAlias type="com.yw.home.board.impl.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.yw.home.board.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.yw.home.board.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
	</typeAliases>
	
</configuration>