<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <input type="radio" value="c1" name="checks" id="" class="ch">
        <input type="radio" value="c2" name="checks" id="" class="ch">
        <input type="radio" value="c3" name="checks" id="" class="ch">
        <input type="radio" value="c4" name="checks" id="" class="ch">
    </div>

    <!-- Emmet -->
    <div>
        <input type="checkbox" value="all" name="box" id="all">
        <input type="checkbox" value="b1" name="box" id="b1" class="cb">
        <input type="checkbox" value="b2" name="box" id="b2" class="cb">
        <input type="checkbox" value="b3" name="box" id="b3" class="cb">
        <input type="checkbox" value="b4" name="box" id="b4" class="cb">
    </div>


    <script src="/resources/js/dom_4.js"></script>
</body>
</html>