<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yw.home.bankbook.BankBookDAO">
	<insert id="setBook" parameterType="com.yw.home.bankbook.BankBookDTO">
		INSERT INTO BANKBOOK VALUES (5432769, #{bookName}, #{bookRate}, 1)
	</insert>
	
	<update id="setUpdate" parameterType="com.yw.bankbook.BankBookDTO">
		UPDATE BANKBOOK SET BOOKNAME= #{bookName}, BOOKRATE=#{bookRate} WHERE BOOKNUM = #{bookNum}
	</update>
	
	<update id="setChangeSale" parameterType="com.yw.bankbook.BankBookDTO">
		UPDATE BANKBOOK SET BOOKSALE = #{bookSale} WHERE BOOKNUM = #{bookNum}
	</update>

	<select id="getList" resultType="com.yw.bankbook.BankBookDTO">
		SELECT * FROM BANKBOOK ORDER BY BOOKNUM DESC
	</select>
	
	<select id="getDetail" parameterType="com.yw.bankbook.BankBookDTO" resultType="com.yw.bankbook.BankBookDTO">
		SELECT * FROM BANKBOOK WHERE BOOKNUM = #{bookNum}
	</select>
	
	<delete id="deleteBook" parameterType="com.yw.bankbook.BankBookDTO">
		DELETE BANKBOOK WHERE BOOKNUM = #{bookNum}
	</delete>

</mapper>
