<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yw.home.board.notice.NoticeDAO">

	<!-- 글목록 -->
	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		SELECT * FROM
		(
		SELECT ROWNUM R, N.* FROM
		(
		SELECT * FROM NOTICE
		WHERE

		<choose>
			<when test="kind == 'title'">TITLE</when>
			<when test="kind == 'writer'">WRITER</when>
			<otherwise>contents</otherwise>
		</choose>

		LIKE '%'||#{search}||'%'
		ORDER BY NUM DESC
		) N
		)
		WHERE R BETWEEN #{startRow} and #{lastRow}
	</select>

	<!-- 상세보기 -->
	<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult">
		SELECT N.*, NF.*
		FROM NOTICE N
			LEFT JOIN
			NOTICEFILE NF
			ON N.NUM = NF.NUM
		WHERE N.NUM = #{num}
	</select>
	
		<resultMap type="NoticeDTO" id="getDetailResult">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="contents" property="contents"/>
		<result column="regDate" property="regDate"/>
		<result column="hit" property="hit"/>
		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>

	<!-- 글쓰기 -->
	<insert id="setAdd" parameterType="BoardDTO">
		<selectKey order = "BEFORE" keyProperty="num" resultType="Long">
			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NOTICE  (NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT)
		VALUES(#{num}, #{title}, #{contents}, #{writer}, sysdate, 0)
	</insert>

	<!-- 글 수정 -->
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET TITLE =
		#{title}, CONTENTS = #{contents} WHERE NUM = #{num}
	</update>

	<!-- 글 삭제 -->
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE NOTICE WHERE NUM = #{num}
	</delete>

	<!-- 글 갯수 -->
	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM NOTICE
		WHERE

		<choose>
			<when test="kind == 'title'">TITLE</when>
			<when test="kind == 'writer'">WRITER</when>
			<otherwise>contents</otherwise>
		</choose>

		LIKE '%'||#{search}||'%'
	</select>
	
	<insert id="setAddFile" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILE
		VALUES(FILE_SEQ.NEXTVAL, #{fileName}, #{oriName}, #{num})
	</insert>

</mapper>